.nav1 {
  left: 43.68%;
  right: 43.68%;
  top: 10.87%;
  bottom: 67.39%;
  margin-top: 10px;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 168%;
  text-align: center;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  /* Primary/Black */
}
.Black {
  background-color: #000000;
}
.card1 {
  display: flex;
  margin-top: 20px;
  width: 1250px;
  margin: 0 auto;
}
.text3 {
  width: 387px;
  height: 27px;
  left: 843px;
  top: 888px;

  /* universal/body/regular */

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 167.5%;
  /* identical to box height, or 27px */

  /* AF/White */

  color: #ffffff;
}
.text4 {
  width: 425px;
  height: 54px;
  left: 860px;
  top: 940px;

  /* universal/Body2(Bold) */

  font-family: "Arca Majora 3";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 167.5%;
  /* or 27px */

  /* AF/White */

  color: #ffffff;
}
.text5 {
  width: 425px;
  height: 27px;
  left: 860px;
  top: 1010px;

  /* universal/Body2(Bold) */

  font-family: "Arca Majora 3";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 167.5%;
  /* identical to box height, or 27px */

  /* AF/White */

  color: #ffffff;
}
.texts {
  margin-left: 90px;
  margin-top: 80px;
}
.imgayol2 {
  width: 580px;
  height: 460px;
  margin-left: 250px;
}
.imgayol1 {
  width: 660px;
  height: 460px;
  left: 40px;
  top: 792px;
  margin-right: 10px;
}
.text6 {
  width: 425px;
  height: 81px;
  left: 860px;
  top: 1053px;

  /* universal/Body2(Bold) */

  font-family: "Arca Majora 3";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 167.5%;
  /* or 27px */

  /* AF/White */

  color: #ffffff;
}
.div7 {
  display: flex;
  margin-top: 20px;
  width: 1250px;
  margin: 0 auto;
  margin-top: 120px;
}
.text7 {
  width: 517px;
  height: 228px;
  left: 80px;
  top: 1504px;

  /* 1440/H2(Bold) */
  margin-top: 90px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 143%;
  /* or 57px */

  letter-spacing: 0.18em;
  text-transform: uppercase;

  /* AF/White */

  color: #ffffff;
}
.div2 {
  display: flex;
  margin-top: 20px;
  width: 1250px;
  margin: 0 auto;
  margin-top: 50px;
}
.nav {
  display: flex;
  margin-top: 20px;
  width: 1250px;
  margin: 0 auto;
}
.about {
  margin-left: 80px;
  left: 47.29%;
  right: 48.61%;
  top: 32.69%;
  bottom: 34.62%;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: 0.175em;
  text-transform: uppercase;
  margin-right: 80px;
}
.hone {
  width: 379px;
  margin-top: 30px;
  left: 80px;
  top: 147px;

  /* 1440/H3 */

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 130%;
  /* or 36px */

  letter-spacing: 0.08em;

  /* AF/White */

  color: #ffffff;
}
.textone {
  width: 600px;
  height: 138px;
  left: 80px;
  top: 309px;
  margin-top: 90px;
  /* body/regular */

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 167.5%;
  /* or 23px */

  /* AF/White */

  color: #ffffff;
}

.text2 {
  width: 511px;
  height: 23px;
  left: 80px;
  top: 527px;
  margin-top: 45px;
  /* body/regular */

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 167.5%;
  /* or 23px */

  /* AF/White */

  color: #ffffff;
}
.d {
  width: 1250px;
  margin: 0 auto;
}
.d1 {
  width: 335px;
  height: 36px;
  left: 40px;
  top: 2032px;

  /* 1440/H3 */

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 130%;
  margin-top: 90px;

  color: #000000;
}
.d2 {
  left: 0%;
  right: 72.56%;
  top: 82.94%;
  bottom: 13.1%;

  /* 1440/H5 */

  font-family: "Oswald";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 168%;
  /* or 20px */

  letter-spacing: 0.16em;
  text-transform: uppercase;

  color: #000000;
}
.d3 {
  left: 0%;
  right: 87.2%;
  top: 93.25%;
  bottom: 2.78%;

  /* 1440/H5 */

  font-family: "Oswald";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 168%;
  /* or 20px */

  letter-spacing: 0.16em;
  text-transform: uppercase;

  /* AF/Dark grey */

  color: #353535;
}
.d4 {
  display: flex;
  gap: 12px;
  margin-top: 40px;
}
.f1 {
 left: 10.76%;
  right: 82.36%;
  top: 18.26%;
  bottom: 78.54%;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  
  letter-spacing: 0.165em;
  text-transform: uppercase;
  color: #000000;
}
.f4{
  gap: 16px;
}
footer {
  background-color: #efefef;
}
.f3{
  width: 1250px;
  margin: 0 auto;
}
.f2 {
  left: 10.76%;
  right: 81.32%;
  top: 28.08%;
  bottom: 67.35%;

  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 141.8%;
  /* identical to box height, or 20px */

  /* AF/Black */

  color: #000000;

  opacity: 0.5;
}
a {
  color: #000000;

  text-decoration: none;
}
.icons {
  margin-right: 122px;
}
.logo {
  margin-right: 100px;
}
.iconpersonal {
  margin: 13px 13px;
}
.divlar {
  display: flex;
  display: flexbox;
  width: 1250px;
  margin: 0 auto;
}
